{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    O assistente definitivo para os seus investimentos
                </h1>
                <h2 class="splash-subhead">
                    O BlueBiulding Project visa simplificar a maneira de acompanhar os seus investimentos, provendo ferramentas objetivas e de fácil uso.
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Relatorios</h4>
            <h3>Gere seus relatorios</h3>
            <p>
               Crie relatorios personalizados e obtenha as informacoes completas sobre as CriptoMoedas.
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Relatorios">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Tracker">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Tracker</h4>
            <h3>Cotacoes das CryptoMoedas</h3>
            <p>
                Visualize em tempo real a cotacao das principais CryptoMoedas
            </p>
        </div>
    </div>
</div>
{% endblock %}