{% extends "base.html" %}

{% block content %}
<div id="exhibition" class="row justify-content-around align-items-center">
    <div class="col-sm-2">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <i id="registerIcon" class="fas fa-user-plus fa-5x d-flex justify-content-center"></i>
            <h1 class="h5 mb-3 font-weight-normal d-flex justify-content-center mt-2"></h1>
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-centred mt-5" type="submit">Login</button>
                </div>
            </fieldset>
            <div class="mt-5">
                <p><a href="{% url 'accounts:register' %}" title="">Create Account</a></p>
                <p><a href="{% url 'accounts:password_reset' %}" title="">Forgot Password?</a> </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}