{% extends "base.html" %}

{% block content %}
    <div id="exhibition" class="row justify-content-around align-items-center">
        <div class="col-sm-2">
            {% if success %}
            <p>An email was sent to you with more details on how to create a new password.</p>
            {% else %}
            <form class="form-signin" method="post">
                {% csrf_token %}
                <i id="registerIcon" class="fas fa-user-plus fa-5x d-flex justify-content-center"></i>
                <h2 class="h5 mb-3 font-weight-normal d-flex justify-content-center mt-2">Password Reset</h1>
                <fieldset>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg btn-centred mt-5" type="submit">Send</button>
                    </div>
                </fieldset>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}