{% extends "base.html" %}

{% block content %}

<section id="header" class="jumbotron text-center">
    <h1 class="display-4">The Ultimate Investment Assistant</h1>
    <hr>
    <p class="lead">BlueBuilding simplify the way of getting information about cryptocurrencies</p>
    <a href="{% url 'reports:index' %}" class="btn btn-secondary">Get Start!</a>
</section>

<section id="gallery">
    <div class="container">
         <div class="row">
             <div class="col-lg-4 mb-4">
                 <div class="card">
                     <img class="card-img-top" src="../static/imgs/markus-spiske-3Tf1J8q9bBA-unsplash.jpg" alt="">
                     <div class="card-body">
                         <h5 class="card-title">Reports</h5>
                         <p class="card-text">Create personalized reports and get complete information about Cryptocurrencies.</p>
                         <a href="{% url 'reports:index' %}" class="btn btn-outline-primary btn-sm">Report</a>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 mb-4">
                 <div class="card">
                     <img class="card-img-top" src="../static/imgs/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="">
                     <div class="card-body">
                         <h5 class="card-title">Dashboard</h5>
                         <p class="card-text">With the personalized Dashboard you can view all the reports you have already created.</p>
                         <a href="{% url 'accounts:dashboard' %}" class="btn btn-outline-primary btn-sm">Dashboard</a>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 mb-4">
                 <div class="card">
                     <img class="card-img-top" src="../static/imgs/campaign-creators-pypeCEaJeZY-unsplash.jpg" alt="">
                     <div class="card-body">
                         <h5 class="card-title">Sign Up</h5>
                         <p class="card-text">When you Sing Up you can access the personalized dashboard. You will be able to save all reports.</p>
                         <a href="{% url 'accounts:register' %}" class="btn btn-outline-primary btn-sm">Sign Up</a>
                     </div>
                 </div>
             </div>
         </div>
    </div>
 </section>

{% endblock %}